@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px auto 50px;
    grid-template-areas:    "header  header  header  header"
                            "main    main    main    main"
                            "footer  footer  footer  footer";
}

.backgrounBox {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../img/backgroud/backgroud.jpg');
    background-size: 100%;
    background-attachment: fixed;
    padding: 10%;
}




/*  navegador superior  */

.header {
    grid-area: header;
    z-index: 3;
}

.navBox {
    width: 100%;
    height: 80px;
    background-color: #F3F2EE;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: start;
}


.navBar {
    width: 100%;
    height: 40px;
    background-color: #262626;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.navBurger {
    height: 20px;
    display: block;
    margin-right: 30px;
}

.navBar ul {
    width: 170px;
    align-items: flex-end;
    justify-items: center;

}
.navBar ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #262626;
    position: relative;
    width: 100%;
    top: 40px;
}



.navBar ul li a {
    color: #F3F2EE;
    font-size: 25px;
    padding: 10px 30px;
}

.navBar ul li a:hover {
    text-decoration: underline #86212A;
}


.navLogo {
    margin-left: 5%;
    position: absolute;
    margin-top: 10px;
}

.navLogoImg {
    height: 80px;
}



/*  /navegador superior  */

/* - - - - - - - */

/*  home  */

.main {
    grid-area: main;
    background-size: contain;
    background-color: #F3F2EE;
    height: calc(100vh - 110px);
    align-items: center;
}

.mainHome {
    display: flex;
    justify-content: center;
}

.homeImg img {
    width: 100%;
}



/*  /home  */



/*  nosotros  */

.nosotrosContenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3f2eeaa;
}

.nosotrosTitulo {
    font-size: 40px;
    margin-bottom: 30px;
}
.nosotrosParrafo {
    font-size: 20px;
    text-align: justify;
}

.nosotrosYoutube {
    margin: 40px 0px;
}

.nosotrosImg {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.nosotrosImgVieja {
    margin-bottom: 50px;
}

/*  /nosotros  */


/*  Productos Servicios  */

/*  ATENCION!! las imagenes de servicios y productos deben se de 650px de ancho y 720px de alto  */

.tarjetaProdServ {
    width: 100%;
    color: #f3f2eeaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.tarjetaProdServTitulo {
    font-size: 40px;
    margin-bottom: 20px;
}

.tarjetaProdServParrafo {
    font-size: 20px;
    margin-bottom: 100px;
}


.tarjetaProdServImg-img {
    width: 100%;
    padding-bottom: 50px;
}

/*backgroud Productos Servicios*/

.tarjetaBackgroun {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 10%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.tarjetaBackgrounMalbec {
    background-image: url('../img/backgroud/backgroundMalbec.jpg');
}

.tarjetaBackgrounCabernet {
    background-image: url('../img/backgroud/backgroundCabernet.jpg');
}

.tarjetaBackgrounTorrontes {
    background-image: url('../img/backgroud/backgroundTorrontes.jpg');
}

.tarjetaBackgrounVisita {
    background-image: url('../img/backgroud/backgroundVisita.jpg');
}

.tarjetaBackgrounDegustacion {
    background-image: url('../img/backgroud/backgroundDegustacion.jpg');
}

.tarjetaBackgrounCircuito {
    background-image: url('../img/backgroud/backgroundCircuito.jpg');
}

/*  /Productos Servicios  */



/*  galeria  */

.galeriaBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: start;
}

.galeriaBox-img {
    width: 100%;
    padding: 10px;
}

.imgBox {
    display: none;
}

/*  /galeria  */



/*  Tienda  */

.tiendaBox {
    width: 100%;
    color: #f3f2eeaa;
}

.tienda {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
}



.tiendaTitulo {
    display: flex;
    justify-content: end;
    font-size: 25px;
    margin-bottom: 5%;
}


.tarjetaTienda {
    width: 300px;
    background-color: #f3f2ee72;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.tarjetaTiendaTitulo {
    font-size: 25px;
}

.tarjetaTiendaDesc {
    font-size: 20px;
    margin-bottom: 5px;
}

.tarjetaTiendaImg {
    width: 80%;
    margin: 10px;
}

.tarjetaTiendaPrecio {
    width: 100%;
    font-size: 25px;
    margin-bottom: 5px;
    color: #86212A;
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.tarjetaTiendaBtn {
    width: 80%;
    font-size: 17px;
    background-color: #86212A;
    padding: 5px;
    color: #F3F2EE;
    border: 2px solid #262626;
}

.tarjetaTienda:hover {
    transform: scale(1.1);
    background-color: #F3F2EE;
    color: #262626;
}


/*  /Tienda  */


/*  Contacto  */


.contactoBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ubicacionBox {
    width: 100%;
    order: 2;
}
.ubicacionBoxMapa {
    width: 100%;
    padding-top: 50px;
}

.contactoBox {
    display: flex;
    flex-direction: column;
}

.formBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
}

.formInput {
    margin-bottom: 10px;
    background-color: #262626;
    color: #F3F2EE;
    padding: 5px;
    border: 1px solid #86212A;
}

.formSelect {
    margin-bottom: 10px;
    background-color: #262626;
    color: #F3F2EE;
    padding: 5px;
    border: 1px solid #86212A;
}

.formTextarea {
    margin-bottom: 10px;
    height: 100px;
    background-color: #262626;
    color: #F3F2EE;
    padding: 5px;
    border: 1px solid #86212A;
}

.formBtn {
    background-color: #F3F2EE;
    color: #86212A;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #F3F2EE;
}

/*  /Contacto  */


/*  footer  */

.footer {
    grid-area: footer;
}

.footerBar {
    width: 100%;
    height: 50px;
    background-color: #86212A;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.footerUbicacion {
    display: flex;
}

.footerUbicacionTexto {
    display: none;
    color: #F3F2EE;
    font-size: 15px;
    margin-right: 15px;
}

.footerUbicacionImg {
    height: 30px;
}

.footerRedesImg {
    height: 30px;
    margin-left: 15px;
}

/*  /footerbar  */



/*------------------------------------*/


@media (min-width: 576px) {



/*  tienda  */

    .tarjetaTienda {
        width: 350px;
    }



}


@media (min-width: 768px) {
    
    .container {
        grid-template-rows: 80px auto 30px;
    }

/*  navegador superior  */   

    .navBurger {
        display: none;
    }
    .navBar ul {
        width: auto;
        display: flex;
        align-items: center;
        margin-right: 5%;
    }

    .navBar ul li {
        top: 0px;
    }

    .navBar ul li a {
        font-size: 15px;
        padding: 0px 10px;
    }


/*  nosotros  */

    .nosotrosYoutube {
        width: 80%;
        margin: 40px 0px;
    }


/*  tienda  */

    .tarjetaTienda {
        width: 250px;
    }

    .backgrounBox {
        padding: 5%;
    }


/*  galeria  */

    .galeria {
        display: flex;
        flex-direction: column;
    }

    .imgBox {
        width: 100%;
        display: block;
        display: flex;
        justify-content: center;
        order: 1;
        margin-bottom: 20px;
        margin-top: 100px;
    }

    .galeriaBox {
        order: 2;
        padding-bottom: 200px;
    }
    .galeriaBox-img {
        width: 100px;
        transition: all 0.3s;
    }

    .galeriaBox-img:hover {
        transform: scale(1.2);
    }


/*  contacto  */

    .contactoBox {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: calc(100vh - 110px);
    }

    .ubicacionBox {
        margin-top: 0;
        width: 40%;
    }

    .ubicacionBoxMapa {
        height: 350px;
        padding-top: 0;
    }

    .formBox {
        margin-right: 5%;
        width: 60%;
    }


/*  producto/servicio  */

    .tarjetaProdServ {
        flex-direction: row;
    }
    .tarjetaProdServTexto {
        width: 60%;
        margin-right: 5%;
    }
    .tarjetaProdServImg {
        width: 35%;
    }


/*  footer  */

    .footerUbicacionTexto {
        display: block;
        font-size: 15px;
    }

    .footerBar {
        height: 30px;
    }

    .footerUbicacionImg {
        height: 20px;
    }
    .footerRedesImg {
        height: 20px;
    }

}


@media (min-width: 992px) {

/*  nosotros  */

    .nosotrosBoxFlex {
        display: flex;
        align-items: center;
    }
    .nosotrosBoxTexto {
        width: 60%;
        margin-right: 5%;
        padding-bottom: 30px;
    }
    
    .nosotrosBoxImg {
        width: 35%;
    }



}


@media (min-width: 1200px) {

    .nosotrosContenedor {
        width: 1200px;
    }
    .tarjetaProdServ {
        width: 1100px;
    }
    .tiendaBox {
        width: 1200px;
    }
    .galeria {
        width: 1200px;
    }
    .contactoBox {
        width: 1000px;
    }

}