@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    box-sizing: border-box;
}

.navBarClass {
    background-color: #F3F2EE;
}
.navActive {
    color: #86212A;
}
.lineColorGrey {
    height: 3px;
    background-color: #262626;
}

.footerBarclass {
    background-color: #86212A;
    
}

.footerBarClassTexto {
    color: #F3F2EE;
}

.background {
    background-image:url(../img/backgroud/backgroud.jpg);
    background-attachment: fixed;
    width: 100%;
    color: #f3f2eeaa;
}