@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    box-sizing: border-box;
}

.navBarClass {
    background-color: #F3F2EE;
}
.navActive {
    color: #86212A;
}
.lineColorGrey {
    height: 3px;
    background-color: #262626;
}

.footerBarclass {
    background-color: #86212A;
    
}

.footerBarClassTexto {
    color: #F3F2EE;
}

.background {
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #f3f2eeaa;
}
.backgroundGral {
    background-image:url('../img/backgroud/backgroud.jpg');
}
.backgrounMalbec {
    background-image: url('../img/backgroud/backgroundMalbec.jpg');
}
.backgrounCabernet {
    background-image: url('../img/backgroud/backgroundCabernet.jpg');
}
.backgrounTorrontes {
    background-image: url('../img/backgroud/backgroundTorrontes.jpg');
}
.tarjetaBackgrounVisita {
    background-image: url('../img/backgroud/backgroundVisita.jpg');
}
.tarjetaBackgrounDegustacion {
    background-image: url('../img/backgroud/backgroundDegustacion.jpg');
}
.tarjetaBackgrounCircuito {
    background-image: url('../img/backgroud/backgroundCircuito.jpg');
}